registry=https://registry.npmjs.org/
@byjus-orders:registry=https://npm.pkg.github.com
@byjusweb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
